<%- include('./includes/header.ejs') %>

<body>
    <%- include('./includes/navbar.ejs') %>
    <div class="intro">
        <h1 class="logo-header">
            <span class="logo">Shopping</span>
            <span class="logo">Made</span>
            <span class="logo">Simple</span>
        </h1>
    </div>
  
</body>

<%- include('./includes/end.ejs') %>