<%- include('./includes/header.ejs') %>

<body>
    <%- include('./includes/navbar.ejs') %>
    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img src="/images/logo.jpg" width="100%" 
                id="ProductImg" alt="">
                <div class="small-img-row">
                    <div class="small-img-col">
                        <img src="/images/logo.jpg" width="100%" alt=""
                        class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="/images/apple.jpg" width="100%" alt=""
                        class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="/images/camera.jpg" width="100%" alt=""
                        class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="/images/pick.jpg" width="100%" alt=""
                        class="small-img">
                    </div>
                </div>
            </div>
            <div class="col-2">
                <p style="color: white">Home / T-Shirts</p>
                <h1 style="color: white">T-Shirts by Enjoy Dude</h1>
                <h4 style="color: white">$29.99</h4>
                <a href="#" class="detail-atc-btn">Add to Cart</a>
                <h3 style="color: white">Product Details:<i class="fa fa-indent"></i></h3>
                <br>
                <p style="color: white">This is a test details page but it can be had to put anything you want
                    int it!
                </p>
            </div>
        </div>
    </div>
</body>

<%- include('./includes/end.ejs') %>