@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

/* BASIC GENERAL STYLING RULES FOR ENTIRE SITE */

:root {
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', sans-serif;
}


body {
    background-color: #16161a;
}

/* NAV BAR STYLING */

nav {
    font-family: 'Noto Serif', sans-serif;
	position: relative;
	z-index: 99;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #FFF;
	padding: 1rem 1.5rem;
}

nav h1 {
	letter-spacing: 5px;
	padding: 0.5rem 1rem;
	padding-right: calc(1rem - 5px);
}

nav h1:hover {
	color: #7f5af0;
    cursor: pointer;
}

.menu {
	display: none;
	align-items: center;
	margin: 0 -1rem;
}

.menu a {
	margin: 0 1rem;
	color: white;
	text-decoration: none;
	transition: 0.3s;
}

.menu a:hover {
	color: #7f5af0;
}

.hamburger {
	appearance: none;
	outline: none;
	border: none;
	background: none;
	cursor: pointer;

	display: block;
	width: 2rem;
	height: 2rem;
}

.hamburger span {
	color: #FFF;
	font-size: 2rem;
}

.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 98;
	padding-top: 6rem;
	opacity: 0;
	transform: translateY(-100%);
	background-color: #16161a;
	color: #FFF;
	transition: 0.3s;
}

.mobile-menu.is-open {
	opacity: 1;
	transform: translateY(0);
}

.mobile-menu a {
	display: block;
	padding: 1rem;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	font-size: 1.25rem;
	transition: 0.3s;
}

.mobile-menu a:hover {
	color: #7f5af0;
	background-color: #FFF;
}


.menu a.active-link {
	color: #7f5af0;
}
.mobile-menu a.active-link {
	color: #7f5af0;
}

@media (min-width: 768px) {
	.mobile-menu, .hamburger {
		display: none;
	}

	.menu {
		display: flex;
	}
}

/* END NAVBAR CSS */

/* SPLASH EFFECT */
.intro {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #010101;
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/* END SPLASH EFFECT CSS */


/* LOGIN/SIGNUP CSS */
.login-box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	padding: 40px;
	margin-top: 2%;
	transform: translate(-50%, -50%);
	background: #16161a;
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.6);
	border-radius: 10px;
  }
  
  .login-box h2 {
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
  }
  
  .login-box .user-box {
	position: relative;
  }
  
  .login-box .user-box input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
  }
  .login-box .user-box label {
	position: absolute;
	top:0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
	top: -20px;
	left: 0;
	color: #7f5af0;
	font-size: 12px;
  }
  

  .login-box form button {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	color: #7f5af0;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: .5s;
	margin-top: 10px;
	letter-spacing: 4px;
	background-color: white;
	border-radius: 10%;
	cursor: pointer;
  }
  
  .login-box button:hover {
	background: #7f5af0;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px #7f5af0,
				0 0 25px #7f5af0,
				0 0 50px #7f5af0,
				0 0 100px #7f5af0;
  }
  
  .login-box button span {
	position: absolute;
	display: block;
  }
  
  .login-box button span:nth-child(1) {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #7f5af0);
	animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
	0% {
	  left: -100%;
	}
	50%,100% {
	  left: 100%;
	}
  }
  
  .login-box button span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #7f5af0);
	animation: btn-anim2 1s linear infinite;
	animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
	0% {
	  top: -100%;
	}
	50%,100% {
	  top: 100%;
	}
  }
  
  .login-box button span:nth-child(3) {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, #7f5af0);
	animation: btn-anim3 1s linear infinite;
	animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
	0% {
	  right: -100%;
	}
	50%,100% {
	  right: 100%;
	}
  }
  
  .login-box button span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg, transparent, #7f5af0);
	animation: btn-anim4 1s linear infinite;
	animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
	0% {
	  bottom: -100%;
	}
	50%,100% {
	  bottom: 100%;
	}
  }

/* MAIN PAGE TEXT */
.main-text-slogan {
	margin-left: 5%;
	margin-top: 10%;
	margin-right: 41%;
	text-align: center;
}

.main-text {
	margin-bottom: 3%;
	font-size: 3rem;
	color: white;
}

.main-slogan {
	font-style: italic;
	font-size: 1.5rem;
	color: white;
	margin-bottom: 5%
}

.main-text-button {
	box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.5);
	cursor: pointer;
	height: 6vh;
	background-color: #7f5af0;
	border-radius: 2%;
	color: white;
	width: 60%;
	font-size: 1.2rem;
	font-weight: bold;
}

.image-picture {
	top: 28%;
	border-radius: 50%;
	width: 19.5rem;
	height: 19.5rem;
	left: 68%;
}




@media (max-width: 768px) {
	.main-text-slogan {
		margin-left: auto;
		margin-right: auto;
		margin-top: 20%;
		
	}

	
}

.selling-main-text {
	color: white;
	text-align: center;
	margin-bottom: 20px;
}



/* STYLES FOR DISPLAYING ALL PRODUCTS */
.collection {
	display: grid;
	grid-auto-columns: max-content;
	grid-auto-flow: dense;
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 30px;
	grid-template-columns: repeat(3, 1fr);
	
	margin: 50px auto;
	max-width: 70%;
  }
  @media (max-width: 768px) {
	.collection {
		max-width: 90%;
		
	}

	
}
   
.product__image {
	background-color: #e5e5e5;
	display: block;
	min-height: 200px;
	width: 100%;
}
	
.product__name p{
	font-size: 16px;
	font-weight: bold;	
}

.product__name a{	
	color: white;
	text-decoration: none;
}

.product__name a:hover{	
	color: #7f5af0;
	text-decoration: none;
}
	
.product__price p{
	font-size: 14px;
	color: white;
}

.approve-button {
	width: 100%;
	cursor: pointer;
	background-color: #7f5af0;
	color: white;
	border-radius: 15%;
	margin-bottom: 5px;
	margin-top: 5px;
	font-weight: bold;
}

.deny-button {
	width: 100%;
	cursor: pointer;
	background-color: #7f5af0;
	color: white;
	font-weight: bold;
	border-radius: 15%;
}
  
.approve-products-error {
	position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}



/*  PRODUCT DETAILS PAGE */
  .container-space {
	margin-top: 2rem;
  }
  .product-thumbnails {
	display: flex;
	margin-top: 2rem;
  }
  .product-thumbnails > ul {
	display: flex;
	list-style: none;
	padding-left: 0;
  }
  .product-thumbnails > li {
	margin-right: 10px;
  }
  .product-thumbnails > ul > li > img {
	width: 100px;
	cursor: pointer;
  }
  .thumbnail-active {
	border: 2px solid #000;
  }
  .btn-custom-color {
	border: 2px solid #4fc08d;
	color: #4fc08d;
  }
  .btn-custom-color:hover {
	border: 2px solid #4fc08d;
	background-color: #4fc08d;
	color: #ffffff;
  }
  
  